@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Open+Sans:300|Special+Elite|Staatliches');

body.audio {
    background: url('1.jpeg') no-repeat center center fixed; 
}
body.register {
    background: url('m.jpeg') no-repeat center center fixed; 
  
}
body{
	background: url('background.jpeg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:white;
font-family: 'Open Sans', sans-serif;
font-family: 'Staatliches', cursive;
font-family: 'Special Elite', cursive;
font-family: 'Fjalla One', sans-serif;
}
a{
	text-decoration: none;
	color:white;


}
a:visited{
	text-decoration: none;
	color:white;

}
a:hover{
	font-weight: bold;
}

.navbar:hover{
	
	text-align: center;
	padding-top:15px;
	margin-left:-20px;
	margin-right:-20px;
	padding-bottom:7px;
	position: fixed;
	top:5%;
	margin-left: 15%;
}
#logo{
	position: fixed;
	top:0%;
	left:0%;
}
.navbar{
	text-align: center;
	padding-top:15px;
	margin-left:-20px;
	margin-right:-20px;
	padding-bottom:7px;
	margin-top:-10px;
	position: fixed;
	top:5%;
	margin-left: 15%;

}
.replies{
	position:absolute;
	left:25%;
	top:16%;
	width:25%;
	margin-right:20%;
	margin-top:1.19%;
	overflow-y:scroll;
	height:63%;



}
.tasks{
	position:absolute;
	right:25%;
	top:16%;
	width:25%;
	margin-left:20%;
	margin-top:1.19%;
	overflow-y:scroll;
	height:63%;

}
.content{
	margin-top:5%;
}
