<html>
<head>

<title>songs</title>

</head>
<body>

<div class = "navbar">
<span >hello <a href = "{{url_for('profile')}}">{{member}}!</a></span>

 | <a href = "{{url_for('home')}}">home</a>
 | <a href = "{{url_for('upload_song')}}">upload a song</a>
 | <a href = "{{url_for('upload_shows')}}">shows</a>
 | <a href = "{{url_for('control_panel')}}">control panel</a>
 | <a href = "{{url_for('audio')}}"> audio files </a>
<a href = "{{url_for('logout')}}" style = "position:absolute;right:0%;">log out!</a>
</div>
<h1>your songs</h1>


{%for song in songs%}
<span>{{song.member_name}}: <a href="{{song.link}}">{{song.name}}</a></span>
<br>
{%endfor%}

<h1>upload a new file</h1>
<form action = '/upload_file' method = "post" enctype = "multipart/form-data">
<p><input type="file" name="file"></p>
<input type="submit" value="Upload">

</form>















</body>




















</html>