<html>
<head>

	<title>login</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

</head>
<body>

<div class = "login_form">



	<form action = "/choose" method="post">


		
		<span>Member name</span>
		<br>
		<select name="member_name">
			{%for member in members%}
    		<option value="{{member.member_name}}">{{member.member_name}}</option>
	



			{%endfor%}
    
		</select>
		<br>	
		<br>
		
		<input id = "submit" type = "submit" value = "log me in!">




	</form>
	<!-- <form action = "/add_member" method="post">

	<br>
		<span>member name:</span>
		<br>
		<input type = "text" name = "member_name" placeholder="member name here">
		<br>
		<span>instrument</span>
		<br>
		<input type = "text" name = "instrument" placeholder="instrument here">
		<br>
		
		<input id = "submit" type = "submit" value = "sign me up!">




	</form> -->
	<h1>{{msg}}</h1>



</div>













</body>
</html>