<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<title>control panel</title>
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
<div class="text-center" id="header">
  <h1>Gang Band</h1>
  <h2>Manage your art</h2>

  <span>Hello <a href = "{{url_for('profile')}}">{{member}}!</a></span>


</div>

<div id="body">
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
 <div class="navbar-header"> 
        <a class="navbar-brand" href="#">Gang Band</a>
      </div>

<ul class="nav navbar-nav navbar-right" id="bs-example-navbar-collapse-1">
 <li><a href = "{{url_for('home')}}">{{band}}</a></li>
 <li><a href = "{{url_for('upload_song')}}">Upload A Song</a></li>
 <li><a href = "{{url_for('upload_shows')}}">Shows</a></li>
 <li><a href = "{{url_for('control_panel')}}">Control Panel</a></li>
 <li><a href = "{{url_for('audio')}}">Audio Files</a></li>
 <li><a href = "{{url_for('task')}}">Send A Task</a></li>
 <li><a href = "{{url_for('logout')}}">Log out</a></li>

 </ul>
</div>
</div>
</nav>
</div>






<div class = "content">
<br>

<div class = "lyrics" style = "margin-left:30%; margin-right: 30%; text-align: center;">

<center><h1>your control panel:</h1></center>
<hr>
<br>
<div class = "add_member_to_band">



<form action = "/control_panel" method="post" style = "border:1px solid black;">

		<h3>add a new member</h3>
		<span>member name:</span>
		<br>
		<input type = "text" name = "member_name" placeholder="member name here">
		<br>
		<span>instrument</span>
		<br>
		<input type = "text" name = "instrument" placeholder="instrument here">
		<br>
		
		<input id = "submit" type = "submit" value = "add me!">
		<h4>{{msg}}</h4>




</form>
<form action = "/adjust" method="post" style = "border:1px solid black;">

		<h3>change a member's role:</h3>
		<span>member name:</span>
		<br>
		<input type = "text" name = "member_name" placeholder="member name here">
		<br>
		<span>new instrument</span>
		<br>
		<input type = "text" name = "instrument" placeholder="instrument here">
		<br>
		
		<input id = "submit" type = "submit" value = "add me!">
		<h4>{{adjust_msg}}</h4>




</form>




</div>



</div>

<script>
var  mn = $(".navbar.navbar-default");
var  mns = "navbar-fixed-top";
var  hdr = $('#header').height(); 

$(window).scroll(function() {
  if( $(this).scrollTop() > (hdr+80) ) {
    mn.addClass(mns);
  } else {
    mn.removeClass(mns);
  }
});
</script>

<script async src="https://static.codepen.io/assets/embed/ei.js"></script>
</body>
</html>