<html>
<head>

<title>{{band_name}}'s page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

</head>

<body>



<img src = "{{ url_for('static', filename='logo.jpeg') }}" width = "200" id = "logo">

<div class = "navbar">
<center>
<span >hello <a href = "{{url_for('profile')}}">{{member}}!</a></span>
 | <a href = "{{url_for('home')}}">{{band}}</a>
 | <a href = "{{url_for('upload_song')}}">upload a song</a>
 | <a href = "{{url_for('upload_shows')}}">shows</a>
 | <a href = "{{url_for('control_panel')}}">control panel</a>
 | <a href = "{{url_for('audio')}}">audio files</a>
 | <a href = "{{url_for('task')}}">send a task</a>
 |
<a href = "{{url_for('logout')}}">log out!</a>
</center>
</div>
<div class = "content">
<center>
<br>
<h1>{{band}}</h1>
<hr>
<div class = "lyrics" style = "margin-left:30%; margin-right: 30%; text-align: center;">

<h1>your schedule:</h1>
<br>

{%for show in shows%}
<div id = "lyric">
<span>{{show.place}}:</span>

<span>{{show.date}}</span>
<br>
<br>
</div>
{%endfor%}


</div>
<br>





</center>
</div>
</body>
</html>