<html>
<head>

<title>{{band_name}}'s shows</title>
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

</head>

<body>




<div class = "navbar">
<span >hello <a href = "{{url_for('profile')}}">{{member}}!</a></span>

 | <a href = "{{url_for('home')}}">home</a>
 | <a href = "{{url_for('upload_song')}}">upload a song</a>
 | <a href = "{{url_for('upload_shows')}}">shows</a>
 | <a href = "{{url_for('control_panel')}}">control panel</a>
 | <a href = "{{url_for('audio')}}"> audio files </a>
<a href = "{{url_for('logout')}}" style = "position:absolute;right:0%;">log out!</a>
</div>
<br>

<div class = "lyrics" style = "margin-left:30%; margin-right: 30%; text-align: center;">



</div>
<br>
<form action = '/upload_song' method = "post">
<h2>upload a song!</h2>
<span>name</span>
<br>
<input type = "text" name = "song_name" placeholder="song name">
<br>
<span>lyrics</span>
<br>
<input type = "text" name = "song_lyrics" placeholder="lyrics" height = "450">
<br>
<input id = "submit" type = "submit" value = "upload">









</form>






</body>
</html>