<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<title>profile</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

</head>
<body class="profile">
<div class="navbar-fixed-top">

  <nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
 <div class="navbar-">
        <a class="navbar-brand" href="#">Gang Band</a>

      </div>

<ul class="nav navbar-nav navbar-right" id="bs-example-navbar-collapse-1">
 <li><a href = "{{url_for('profile')}}">hello {{member}}!</a></li>

 <li><a href = "{{url_for('home')}}">{{band}}'s Scedule</a></li>
 <li><a href = "{{url_for('upload_song')}}">Upload A Song</a></li>
 <li><a href = "{{url_for('upload_shows')}}">Shows</a></li>
 <li><a href = "{{url_for('control_panel')}}">Control Panel</a></li>
 <li><a href = "{{url_for('audio')}}">Audio Files</a></li>
 <li><a href = "{{url_for('task')}}">Send A Task</a></li>
 <li><a href = "{{url_for('logout')}}">Log out</a></li>


 </ul>
</div>
</div>
</nav>
</div>


<div class = "content">
<center>
<header><h1><center>{{member}}'s profile</center></h1></header>
<hr>


<br>
<div class = "tasks">
{%if tlen > 0%}

<h1>your tasks</h1>

{%endif%}
{%for task in tasks%}
<span>{{task.member_name}} sent you a task: </span>
<br>
<audio controls>
<source src="{{task.link}}" type = "audio/mpeg">
</audio>
<br>

<span> "{{task.notes}}" </span>
<br>
<form action ='/reply' method = 'post' enctype="multipart/form-data">


<h2>add a reply</h2>
<span>to: (don't change)</span>
<br>
<select name="send_to">
	{%for member in members%}
    <option value="{{member.member_name}}">{{member.member_name}}</option>
	



	{%endfor%}
    
</select>
<br>
<span>about: (don't change)</span>
<br>
<input type = "text" name = 'filename' value = "{{task.name}}">


<br>
<span>your message</span>
<br>
<input type = "text" name = "message" placeholder = "your reply here...">
<br>
<input type="submit" value = "reply">


</form>

<br>
{%endfor%}
</div>

<div class = "replies">
{%if rlen > 0%}
<h1>people replied to you: </h1>
{%endif%}
{%for reply in replies%}

<span>{{reply.member_name}}:
<br>
{{reply.message}}
<br>
about: {{reply.filename}}
<br>
(at {{reply.time[0:-10]}})
<br>
<br>
</span>
{%endfor%}
</div>

</center>
</div>
<script>
var  mn = $(".navbar.navbar-default");
var  mns = "navbar-fixed-top";
var  hdr = $('#header').height(); 

$(window).scroll(function() {
  if( $(this).scrollTop() > (hdr+80) ) {
    mn.addClass(mns);
  } else {
    mn.removeClass(mns);
  }
});
</script>
</body>

</html>