<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<title>{{band_name}}'s shows</title>
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

</head>

<body class="shows">
<div class="navbar-fixed-top">

  <nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
 <div class="navbar-">
        <a class="navbar-brand" href="#">Gang Band</a>

      </div>

<ul class="nav navbar-nav navbar-right" id="bs-example-navbar-collapse-1">
 <li><a href = "{{url_for('profile')}}">hello {{member}}!</a></li>

 <li><a href = "{{url_for('home')}}">{{band}}'s Scedule</a></li>
 <li><a href = "{{url_for('upload_song')}}">Upload A Song</a></li>
 <li><a href = "{{url_for('upload_shows')}}">Shows</a></li>
 <li><a href = "{{url_for('control_panel')}}">Control Panel</a></li>
 <li><a href = "{{url_for('audio')}}">Audio Files</a></li>
 <li><a href = "{{url_for('task')}}">Send A Task</a></li>
 <li><a href = "{{url_for('logout')}}">Log out</a></li>


 </ul>
</div>
</div>
</nav>

</div>

<div class = "content">
<center>


<form action = '/shows' method = "post">
<h2>update the schedule</h2>
<span>place</span>
<br>
<input type = "text" name = "place" placeholder="place">
<br>
<span>date</span>
<br>
<input type = "text" name = "date" placeholder="date">
<br>
<input id = "submit" type = "submit" value = "update" class="btn">









</form>

</center>
<script>
var  mn = $(".navbar.navbar-default");
var  mns = "navbar-fixed-top";
var  hdr = $('#header').height(); 

$(window).scroll(function() {
  if( $(this).scrollTop() > (hdr+80) ) {
    mn.addClass(mns);
  } else {
    mn.removeClass(mns);
  }
});
</script>


</div>
</body>
</html>