<html>
<head>

<title>{{band_name}}'s shows</title>
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

</head>

<body>




<img src = "{{ url_for('static', filename='logo.jpeg') }}" width = "200" id = "logo">

<div class = "navbar">
<center>
<span >hello <a href = "{{url_for('profile')}}">{{member}}!</a></span>
 | <a href = "{{url_for('home')}}">{{band}}</a>
 | <a href = "{{url_for('upload_song')}}">upload a song</a>
 | <a href = "{{url_for('upload_shows')}}">shows</a>
 | <a href = "{{url_for('control_panel')}}">control panel</a>
 | <a href = "{{url_for('audio')}}">audio files</a>
 | <a href = "{{url_for('task')}}">send a task</a>
 |
<a href = "{{url_for('logout')}}">log out!</a>
</center>
</div>
<div class = "content">
<center>
<br>


<form action = '/shows' method = "post">
<h2>update the schedule</h2>
<span>place</span>
<br>
<input type = "text" name = "place" placeholder="place">
<br>
<span>date</span>
<br>
<input type = "text" name = "date" placeholder="date">
<br>
<input id = "submit" type = "submit" value = "update">









</form>

</center>



</div>
</body>
</html>